<div class="card" style="width: 100%;">
  <form (ngSubmit)="emitCharacter()">
    <div class="card-body form-group">
      <div class="row mx-3 form-group">
        <label for="nombre">Nombre</label>
        <input class="form-control" type="text" name="nombre" id="nombre" [(ngModel)]="character.name">
      </div>
      <div class="row mx-3">
        <label for="poder">Poder</label>
        <input class="form-control" type="number" name="poder" id="poder" [(ngModel)]="character.power">
      </div>
      <div class="row my-3">
        <button type="submit" class="btn btn-primary">
          Agregar
        </button>
      </div>
    </div>
  </form>
</div>

